Package: com.ps.raisetowakefs
Name: Raise To Wake Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch, firmware (>= 10.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Toggle for Raise To Wake option.
Maintainer: PoomSmart
Author: PoomSmart
Section: Addons (Flipswitch)