Package: com.ps.raisetowakeflipswitch
Name: Raise To Wake Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch, firmware (>= 11.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Flipswitch toggle for Raise To Wake.
Maintainer: PoomSmart
Author: PoomSmart
Section: Addons (Flipswitch)
